@import '~vuetify/src/styles/styles.sass';
@import '~assets/fonts/vazir/font.css';

$body-font-family: 'vazir' !important;
$c_1: #F57F17;


.v-application .display-4
,.v-application .display-3
,.v-application .display-2
,.v-application .display-1
,.v-application .headline
,.v-application .title
,.v-application .subtitle-1
,.v-application .subtitle-2
,.v-application .body-1
,.v-application .body-2
,.v-application .caption
,.v-application .overline
,.v-application .v-btn__content
,.v-application .v-btn
,.v-application .body-2{
    font-family: "vazir", sans-serif !important;
    letter-spacing: normal !important;
};

* {
    outline: none !important;
    -webkit-tap-highlight-color: transparent !important;
    font-family: vazir !important;
}

a:link {
    text-decoration: none;
}
.p-0 {
    padding: 0 !important;
  }
  .bg-0 {
    background-color: transparent !important;
  }
  .m-0{
      margin: 0 !important;
  }
  .overflow-hidden{
    overflow:hidden !important;
  }



  .theme--light.v-btn.v-btn--has-bg,.v-toolbar__conten{
      background-color: transparent !important;
  }