<template>
  <v-main>
    <v-container grid-list-lg class="mx-auto">
      <div>
        <p class="headline sectionTitle">دوره های آموزشی</p>
        <v-divider></v-divider>
      </div>
      <section style="display: flex; flex-wrap: wrap; justify-content: center">
        <v-card
          class="mx-6 my-4 overflow-hidden"
          max-width="300"
          v-for="i in 6"
          :key="i"
        >
          <nuxt-link to="/" class="m-0">
            <v-img
              :src="`https://picsum.photos/500/300?image=${
                ~~(Math.random() * i) * 5 + 10
              }`"
              :lazy-src="`https://picsum.photos/10/6?image=${
                ~~(Math.random() * i) * 5 + 10
              }`"
              max-width="500"
              max-height="300"
            >
              <template v-slot:placeholder>
                <v-row class="fill-height ma-0" align="center" justify="center">
                  <v-progress-circular
                    indeterminate
                    color="c_1"
                  ></v-progress-circular>
                </v-row>
              </template>
            </v-img>
            <v-card-title
              class="p-0 pr-5 pt-3 pb-1"
              :style="{ color: isDark ? '#ddd' : '#000' }"
              >آموزش جاوااسکریپت</v-card-title
            >
          </nuxt-link>

          <v-card-text>
            <v-row align="center" class="mx-0">
              <v-rating
                :value="3.5"
                color="#ffe700"
                background-color="warning lighten-1"
                dense
                half-increments
                readonly
                size="14"
              ></v-rating>
              <div class="grey--text">3.5 (413)</div>
            </v-row>

            <div class="mt-10 body-2">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
              استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله
            </div>
          </v-card-text>

          <v-divider class="mx-4"></v-divider>
          <v-card-actions dir="ltr">
            <v-btn
              elevation="1"
              router
              to="/"
              color="c_1"
              class="ml-3 mb-1"
              text
            >
              ادامه مطالب
            </v-btn>
            <div class="ml-auto mr-2">
              <span class="body-2">45</span>
              <v-icon color="c_1">mdi-account-multiple</v-icon>
            </div>
          </v-card-actions>
        </v-card>
      </section>
    </v-container>
  </v-main>
</template>


<script>
export default {
  data: () => ({}),
  computed: {
    isDark() {
      return this.$vuetify.theme.dark;
    },
  },

  methods: {},
};
</script>
<style lang="scss">
.v-slide-group__next {
  height: 70px;
  border-radius: 0 99px 99px 0;
  background-color: aqua;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  min-width: 45px;
  left: 0;
}
.v-slide-group__prev {
  height: 70px;
  border-radius: 99px 0 0 99px;
  background-color: aqua;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  min-width: 45px;
  right: 0;
}
.sectionTitle {
  margin: 0 10px 25px;
  position: relative;
  &::before {
    content: " ";
    position: absolute;
    width: 221px;
    height: 2px;
    background-color: #f57f17;
    bottom: -16px;
    transition: 0.2s;
    right: -10px;
  }
}
</style>