<template>
  <v-main>
    <v-responsive max-width="400" class="px-5 my-12 mx-auto">
      <v-card
        class="px-5 py-5 rounded"
        :color="isDark ? null : 'grey lighten-4'"
      >
        <v-card-title primary-title class="justify-center py-3">
          ورود به حساب کاربری
        </v-card-title>
        <v-divider></v-divider>
        <v-alert
          dense
          color="red"
          dismissible
          v-model="error.status"
          close-text="Close Alert"
          class="mt-3 body-2"
          >{{ error.msg }}</v-alert
        >

        <v-alert
          dense
          outlined
          type="success"
          text
          dismissible
          icon="mdi-fire"
          v-model="error.reset"
          close-text="Close Alert"
          class="mt-3 body-2"
        >
          برای بازیابی
          <strong
            >رمز عبور<nuxt-link to="/account/lost-password"> اینجا</nuxt-link>کلیک کنید
          </strong>
        </v-alert>

        <v-form class="mt-3" ref="loginForm" v-model="valid" lazy-validation>
          <v-text-field
            v-model="user.username"
            :rules="rules.username"
            ref="username"
            @keydown.enter="$refs.password.focus()"
            label="نام کاربری"
            color="c_1"
            counter
            required
          ></v-text-field>

          <v-text-field
            v-model="user.password"
            :rules="rules.password"
            ref="password"
            @keydown.enter="submit"
            label="رمز عبور"
            color="c_1"
            counter
            required
          ></v-text-field>

          <v-checkbox
            color="c_1"
            v-model="checkbox"
            label="مرا به خطر بسپار"
          ></v-checkbox>

          <v-btn
            :disabled="!valid"
            :loading="loading"
            color="c_1"
            block
            @click="submit"
            >ورود به حساب کاربری</v-btn
          >
        </v-form>
      </v-card>
    </v-responsive>
    <v-overlay :value="loading">
      <v-progress-circular
        color="c_1"
        indeterminate
        size="64"
      ></v-progress-circular>
    </v-overlay>
  </v-main>
</template>
<script>
export default {
  data: () => ({
    user: {
      username: "",
      password: "",
    },
    rules: {
      username: [
        (v) => !!v || "نام کاربری را پر کنید",
        (v) =>
          /^[a-z0-9]+$/.test(v.toLowerCase()) ||
          "نام کاربری را به درستی وارد کنید",
      ],
      password: [
        (v) => !!v || "رمز عبور را وارد کنید.",
        (v) =>
          /^[a-z0-9]{6,10}$/.test(v.toLowerCase()) ||
          "رمز عبور را به درستی وارد کنید.",
      ],
    },
    valid: true,
    checkbox: false,
    loading: false,
    error: {
      status: false,
      reset: false,
      msg: "رمز عبور یا نام کاربری اشتباه است",
    },
  }),
  computed: {
    isDark() {
      return this.$vuetify.theme.dark;
    },
  },

  methods: {
    submit() {
      if (this.$refs.loginForm.validate() && this.valid) {
        this.loading = true;
        setTimeout(() => {
          const user = this.$store.state.userlist.find(
            (e) =>
              e.username === this.user.username &&
              e.password === this.user.password
          );
          if (user) {
            this.$store.commit("login", {
              username: this.user.username,
              password: this.user.password,
            });
            this.error.status = false;
            this.error.reset = false;
            this.$router.push('/')
          } else {
            this.error.status = true;
            this.error.reset = true;
          }
          this.loading = false;
        }, 1100);
      }
    },
  },
};
</script>